:root {
  --ion-color-primary: #0d6efd;
  --ion-color-primary-contrast: #ffffff;
  --ion-background-color: #ffffff;
  --ion-text-color: #0f1623;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-primary: #428cff;
    --ion-color-primary-contrast: #ffffff;
    --ion-background-color: #1e1e1e;
    --ion-text-color: #ffffff;
  }
}

